<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">MxB TV Setup</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://primedev-team.github.io/mxb-tv-guides/index" class="btn">How MxB TV Works</a>
      <a href="https://primedev-team.github.io/mxb-tv-guides/hybrid-connection" class="btn">How MxB TV Works</a>
      <a href="https://primedev-team.github.io/mxb-tv-guides/empactit-steps" class="btn">Empactit Steps</a>
      <a href="https://primedev-team.github.io/mxb-tv-guides/client-steps" class="btn">Client Steps</a>
      <a href="https://primedev-team.github.io/mxb-tv-guides/on-site-steps" class="btn">On Site Steps</a>
    </section>

    <section class="main-content">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Empactit</a>.</span>
      </footer>

    </section>


  </body>
</html>
